body, html, #container {
    height: 100%;
}
#header {
    background-image: url('mezs.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#footer {
    background-image: url('mezs.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}